body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 310px;
    height: 160px;
    background-color: deepskyblue;
    display: flex;

    align-items: left;
    justify-content: left;
    border-radius: 30px;
}

.main-block-message {
    font-size: 25px;
}
