body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 310px;
    height: 160px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.main-block-message {
    font-size: 25px;
}
